* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.accordian {
  max-width: 600px;
  margin: 15px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: rgb(160, 224, 224);
  font-size: 1.1rem;
}

.accordian-heading {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.accordian-heading-border {
  border-bottom: 1px solid black;
}

.accordian-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.accordian-body {
  padding: 20px;
  text-align: justify;
}
/* Table  */
.content-heading {
  text-align: center;
  margin: 30px 0;
  font-size: 1.3rem;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  max-width: 1000px;
  margin: auto;
}
tr,
td {
  border: 2px solid #b9a5a5dd;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #ddd;
}
/* tr:not(.table_heading):hover {
  background-color: rgb(79, 179, 145);
  cursor: pointer;
} */
.table_heading {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  background-color: rgb(63, 61, 61);
  color: white;
  cursor: pointer;
}
.arrow-wrapper {
  display: flex;
}
form {
  margin-bottom: 40px;
}
